*{
    margin: 0;
    padding: 0;
}

body{
    background: #c5d887;
    height: 100v;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Div-Menu{
    text-align: center;
    margin-top: 25px;
    font-size: 23px;
    font-weight: 500;
}
#Pdf-Menu{
    border-radius: 30px;
    text-decoration: none;
    background-color: green;
    color: #800c0c;
    display: inline-block;
    width: 430px;
    transition: 0.5s;
}
#Pdf-Menu:hover{
    background-color: aqua;
    transform: scaleX(1.09);
}

#Soups{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border: solid;
    border-radius: 35px;
    border-color: #132bb4;
    margin: 8px 0px;
    transition: 0.5s;
    width: 40%;
}

#Soups:hover{
    background-color: aqua;
    transform: scaleX(1.09);
}

.Div-Soups{
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    font-size: 12px;
}
p{
    color: #009c0d;
    font-size: 20px;
}
h2{
    margin: 8px 0px;
}
#Tomato{
    width: 150px;
    height: 150px;
    border-radius: 20px;
}